<%- include('partials/header'); -%>
<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="entryTitle">Title</label>
    <input class="form-control" type="text" name="entryTitle" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="blogContent">Post</label>
    <textarea class="form-control input-post-box" type="text" name="blogContent"></textarea>
  </div>
  <button class="btn btn-info" type="submit" name="button">Publish</button>
</form>
<%- include('partials/footer'); -%>
