<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeContent %></p>

<% for (let i = 0; i < allPosts.length; i++) { %>
  <a class="title-link" href="/posts/<%= allPosts[i].postTitle %>">
    <h1 class="title"> <%= allPosts[i].postTitle %></h1>
  </a>
  <p>

<%  if (allPosts[i].postContent.length > 100) { %>
      <%= allPosts[i].postContent.substr(0,100) _%><%-'&hellip;' %>
      <a href="/posts/<%= allPosts[i].postTitle %>" >Read More</a>
<%  } else { %>
      <%= allPosts[i].postContent %>
<%  } %>
  </p>
<% } %>
<%- include('partials/footer'); -%>
