html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
  position: absolute;
	/* position: relative; */
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
  /* padding-top: 25px; */
	font-size: 12px;
  color: #fff;
}

/* .truncate {
  width: 750px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

/* .input {
  width: 100%;
} */

.input-post-box {
  min-height: 200px;
}

/* compose page */
/* .publish-btn {
  margin-top: 20px;
} */

.title {
  color: black;
}

a.title-link:hover,
a.title-link:active,
a.title-link:visited,
a.title-link:focus {
  color: black;
  text-decoration: none;
}
